{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
<div class="aPropos">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nostrum ex in alias animi, ducimus esse nesciunt. Eum recusandae commodi sunt autem eaque, nesciunt odit nostrum quas in enim debitis.
        Soluta, aliquid praesentium? Vero eos harum, dolores saepe illo nihil modi, consequuntur, ex ratione eius vel numquam iusto! Labore aperiam temporibus ad odio neque cupiditate et exercitationem quis ut nisi!
        Adipisci, nemo sunt recusandae quo corporis optio commodi rem, laudantium quasi necessitatibus dolore et aut quibusdam velit temporibus eum accusamus repudiandae mollitia porro vel? Explicabo similique blanditiis dolore expedita esse!
        Soluta voluptatibus et dolor nulla tenetur, labore quod distinctio! Beatae, atque necessitatibus debitis, velit dolore eum eligendi, nam impedit qui maxime harum ipsum? Sequi iure culpa est fuga sit omnis?
        Quam labore enim optio distinctio tenetur nihil asperiores aliquam similique inventore consectetur aspernatur expedita sint fugit quas voluptate ad, magni dolore fugiat pariatur harum rem laudantium unde in. Saepe, omnis!
    </p>
</div>
{% endblock %}
