{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
{% for message in app.flashes('erreur') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{{ form(formModifMdp) }}
{% endblock %}
