{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div id="hero">
    <img src="{{ asset('image/dessin/bas-rhin_art-numerique_fayek-bahloul_figuratif-47.jpg') }}" alt="">
    <h1>Fayek Bahloul</h1>
    <p>Artiste spécialisé en dessin assister par ordinateur (DAO)</p>
    <button class="button"><a href="">Voir mes oeuvres</a></button>
</div>
{% endblock %}
