{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="aPropos">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit at a ut aspernatur! Est nihil enim, debitis consequatur consectetur architecto maxime nisi ullam neque inventore tempore vero tempora in possimus!
        Itaque voluptate, modi dolor expedita nam animi quaerat id tempore, ad, distinctio est rem libero voluptas fugiat officiis! Commodi aperiam cum quo inventore natus labore architecto illum ratione, unde quaerat.
        Officia accusantium possimus impedit, corporis placeat reiciendis quas cumque mollitia deserunt similique inventore suscipit nulla. A quaerat soluta ducimus dolor delectus perspiciatis nobis minus modi libero facilis, perferendis cum harum!
        Voluptate, autem quae. Ratione, maxime. Eaque, expedita quidem corporis repudiandae facilis officia architecto numquam cumque pariatur possimus esse vitae quam cupiditate a laudantium assumenda adipisci magnam optio error tempore sequi.
        Temporibus sint veritatis expedita illum nobis. Optio, inventore, sint perferendis eaque reiciendis aspernatur quidem odit omnis consequuntur tenetur qui reprehenderit. Illo beatae earum corporis. Eveniet repellat ad nostrum hic dolorum.
    </p>
</div>
{% endblock %}